if hexo-config('css_prefix')
  @import 'nib'

@import '_third-party/normalize.min.css'
@import '_variables'
@import '_global/function'
@import '_global/index'
@import '_highlight/highlight'

@import '_page/common'
@import '_page/homepage'
@import '_page/archives'
@import '_page/categories'
@import '_page/tags'
@import '_page/flink'
@import '_page/404'

@import '_layout/head'
@import '_layout/pagination'
@import '_layout/post'
@import '_layout/relatedposts'
@import '_layout/footer'
@import '_layout/rightside'
@import '_layout/sidebar'
@import '_layout/aside'

@import '_mode/darkmode'
@import '_mode/readmode'

if hexo-config('local_search.enable')
  @import '_search/index'
  @import '_search/local-search'
